[Desktop Entry]
Name=XBreakOut
Name[ast]=XBreakOut
Name[bs]=XBreakOut
Name[ca]=XBreakOut
Name[ca@valencia]=XBreakOut
Name[cs]=XBreakOut
Name[da]=XBreakOut
Name[de]=XBreakOut
Name[el]=XBreakOut
Name[en_GB]=XBreakOut
Name[es]=XBreakOut
Name[et]=XBreakOut
Name[eu]=XBreakOut
Name[fr]=XBreakOut
Name[ga]=XBreakOut
Name[gl]=XBreakOut
Name[hne]=के-ब्रेकआउट
Name[hu]=XBreakOut
Name[it]=XBreakOut
Name[ja]=XBreakOut
Name[kk]=XBreakOut
Name[km]=XBreakOut
Name[lt]=XBreakOut
Name[lv]=XBreakOut
Name[nb]=XBreakOut
Name[nds]=XBreakOut
Name[nl]=XBreakOut
Name[nn]=XBreakOut
Name[pl]=XBreakOut
Name[pt]=XBreakOut
Name[pt_BR]=XBreakOut
Name[ro]=XBreakOut
Name[ru]=XBreakOut
Name[sk]=XBreakOut
Name[sl]=XBreakOut
Name[sq]=XBreakOut
Name[sr]=X‑пробој
Name[sr@ijekavian]=X‑пробој
Name[sr@ijekavianlatin]=X‑proboj
Name[sr@latin]=X‑proboj
Name[sv]=Utbrytning
Name[tr]=XBreakOut
Name[ug]=XBreakOut
Name[uk]=XBreakOut
Name[wa]=sXetaedje (XBreakOut)
Name[x-test]=xxXBreakOutxx
Name[zh_CN]=XBreakOut
Name[zh_TW]=XBreakOut
Icon=xbreakout
Type=Application
Exec=xbreakout -caption "%c"
GenericName=Breakout-like Game
GenericName[ast]=Xuegu asemeyáu a Breakout
GenericName[bs]=Igra cigli
GenericName[ca]=Joc similar al Breakout
GenericName[ca@valencia]=Joc similar al Breakout
GenericName[cs]=Hra typu Breakout
GenericName[da]=Breakout-lignende spil
GenericName[de]=„Breakout“-Spiel
GenericName[el]=Παιχνίδι παρόμοιο με το Breakout
GenericName[en_GB]=Breakout-like Game
GenericName[es]=Juego similar a Breakout
GenericName[et]=Breakouti moodi mäng
GenericName[eu]=Breakout-en antzeko jokoa
GenericName[fr]=Jeu dans le style d'un casse-briques
GenericName[ga]=Cluiche Cosúil le Breakout
GenericName[gl]=Xogo similar ao Breakout
GenericName[hne]=ब्रेकआउट जइसन खेल
GenericName[hu]=Breakout-szerű játék
GenericName[it]=Un gioco simile a Breakout
GenericName[ja]=ブロック崩しゲーム
GenericName[kk]=Breakout-секілді ойын
GenericName[km]=ល្បែង​ដូច​នឹង Breakout
GenericName[lt]=Breakout-tipo žaidimas
GenericName[lv]=Klucīšu izsišanas spēle
GenericName[nb]=Breakout-liknende spill
GenericName[nds]=Breakout-liek Speel
GenericName[nl]=Breakout-achtig spel
GenericName[nn]=Breakout-liknande spel
GenericName[pl]=Gra podobna do Breakout
GenericName[pt]=Jogo semelhante ao BreakOut
GenericName[pt_BR]=Jogo semelhante ao Breakout (quebra de barreiras)
GenericName[ro]=Un joc ca Breakout
GenericName[ru]=Арканоидоподобная игра
GenericName[sk]=Hra typu Breakout
GenericName[sl]=Igra podobna Breakoutu
GenericName[sq]=Lojë si BreakOut
GenericName[sr]=Игра налик на Пробој
GenericName[sr@ijekavian]=Игра налик на Пробој
GenericName[sr@ijekavianlatin]=Igra nalik na Proboj
GenericName[sr@latin]=Igra nalik na Proboj
GenericName[sv]=Spel som liknar Breakout
GenericName[tr]=Breakout-benzeri Oyun
GenericName[ug]=Breakout قا ئوخشاش ئويۇن
GenericName[uk]=Гра схожа на Breakout
GenericName[wa]=Djeu po sketer des brikes
GenericName[x-test]=xxBreakout-like Gamexx
GenericName[zh_CN]=挡板弹球游戏
GenericName[zh_TW]=打磚塊遊戲
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;Game;ArcadeGame;
